version: "3.1"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: gcr.io/dd-decaf-cfbf6/metabolic-ninja:${IMAGE_TAG:-latest}
    depends_on:
      - redis
    networks:
      default:
      DD-DeCaF:
        aliases:
          - metabolic-ninja
    ports:
      - "${API_PORT:-8000}:8000"
    volumes:
      - ".:/app"
    environment:
      - ENVIRONMENT=${ENVIRONMENT:-development}
      - FLASK_APP=src/metabolic_ninja/wsgi.py
      - SCRIPT_NAME=${SCRIPT_NAME}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS:-http://localhost:4200}
      - SENTRY_DSN=${SENTRY_DSN}
    command: gunicorn -c gunicorn.py metabolic_ninja.wsgi:app

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis
    networks:
      default:
    volumes:
      - ".:/app"
    command: celery -A metabolic_ninja.tasks worker --loglevel=info

  redis:
    image: redis
    ports:
      - "6379"
    networks:
      - default

# Additional services that the `web` service `depends_on` should usually only
# be on the default network and not exposed on the general network, i.e.,
# networks:
#   - default

networks:
  DD-DeCaF:
    external: true
