Flask
Flask-Cors
flask-apispec
sentry-sdk[flask]
gunicorn
gevent
celery[redis]
redis
flower
# Flower 0.9.2 is not compatible with tornado 6, but does not constrain the
# version, so pin it explicitly here.
tornado<6
python-jose
Flask-Migrate
flask-sqlalchemy
psycopg2-binary
sqlalchemy
Alembic
cameo >= 0.11.12
sendgrid
