apiVersion: apps/v1
kind: Deployment
metadata:
  name: metabolic-ninja-caffeine
spec:
  selector:
    matchLabels:
      app: metabolic-ninja
      env: caffeine
  replicas: 1
  template:
    metadata:
      labels:
        app: metabolic-ninja
        env: caffeine
    spec:
      containers:
      - name: web
        image: gcr.io/dd-decaf-cfbf6/metabolic-ninja:devel
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: ENVIRONMENT
          value: production
        - name: SCRIPT_NAME
          value: /pathways-caffeine
        - name: FLASK_APP
          value: src/metabolic_ninja/wsgi.py
        - name: ALLOWED_ORIGINS
          value: https://caffeine.dd-decaf.eu,http://localhost:4200
        - name: REDIS_HOST
          value: localhost:6379
        - name: MODEL_STORAGE_API
          value: https://api-staging.dd-decaf.eu/mstorage
        - name: IAM_API
          value: https://api-staging.dd-decaf.eu/iam
        - name: POSTGRES_HOST
          value: localhost
        - name: POSTGRES_PORT
          value: "5432"
        - name: POSTGRES_DB_NAME
          value: metabolic_ninja
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: metabolic-ninja-caffeine
              key: SECRET_KEY
        - name: SENTRY_DSN
          valueFrom:
            secretKeyRef:
              name: metabolic-ninja-caffeine
              key: SENTRY_DSN
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
              name: metabolic-ninja-caffeine
              key: POSTGRES_USERNAME
        - name: POSTGRES_PASS
          valueFrom:
            secretKeyRef:
              name: metabolic-ninja-caffeine
              key: POSTGRES_PASS
        command: ["/bin/sh", "-c"]
        args: ["flask db upgrade && gunicorn -c gunicorn.py metabolic_ninja.wsgi:app"]
        resources:
          requests:
            cpu: "200m"
          limits:
            cpu: "2000m"
      - name: worker
        image: gcr.io/dd-decaf-cfbf6/metabolic-ninja:devel
        imagePullPolicy: Always
        env:
        - name: REDIS_HOST
          value: localhost:6379
        - name: C_FORCE_ROOT
          value: "1"
        command: ["celery", "-A", "metabolic_ninja.tasks", "worker", "--loglevel=info"]
        resources:
          requests:
            cpu: "2000m"
          limits:
            cpu: "6000m"
      - name: redis
        image: redis:latest
        ports:
        - containerPort: 6379
        command: ["redis-server", "--appendonly", "yes"]
        resources:
          requests:
            cpu: "100m"
          limits:
            cpu: "200m"
        volumeMounts:
          - mountPath: "/data"
            name: metabolic-ninja-caffeine
      - name: flower
        image: gcr.io/dd-decaf-cfbf6/metabolic-ninja:devel
        imagePullPolicy: Always
        ports:
        - containerPort: 5555
        env:
        - name: REDIS_HOST
          value: localhost:6379
        command: ["celery", "flower", "-A", "metabolic_ninja", "--broker=redis://localhost:6379/0", "--url_prefix=/metabolic-ninja"]
        resources:
          requests:
            cpu: "50m"
          limits:
            cpu: "100m"
      - name: cloudsql-proxy
        image: gcr.io/cloudsql-docker/gce-proxy:1.11
        command: ["/cloud_sql_proxy", "-instances=dd-decaf-cfbf6:europe-west1:dd-decaf=tcp:5432", "-credential_file=/secrets/cloudsql/credentials.json"]
        resources:
          requests:
            cpu: "100m"
          limits:
            cpu: "200m"
        volumeMounts:
          - name: cloudsql-instance-credentials
            mountPath: /secrets/cloudsql
            readOnly: true
      volumes:
        - name: metabolic-ninja-caffeine
          persistentVolumeClaim:
           claimName: metabolic-ninja-caffeine
        - name: cloudsql-instance-credentials
          secret:
            secretName: cloudsql-instance-credentials
